body{
  font-family: Arial, sans-serif;
  line-heighgrt:1.6;;
  margin: 0;
  padding: 0;
  background-color:
    }
header{
  background-color:
    color:
padding: 1rem 0;
text-aling: center;
}

  
